:root {
    --body-lighter: rgb(13, 17, 23) ;
	--body: rgb(9, 12, 16);
	--text: #ffffff;
	--border: 1.8px solid rgb(48, 54, 61);
	--hover: rgb(33, 38, 45);

    --border-radius: 25px;

	--gap-small: 10px;
	--gap: 15px;
	--gap-large: 25px;
	--gap-larger: 40px;
}